header {
  height: 170px;
  border-bottom: 1px solid #ddd;
}

.upper_align {
  position: relative;
  height: 50px;
  background: #243c84;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Noto Sans KR", sans-serif;
}

.upper_align .left {
  position: relative;
  float: left;
  width: auto;
  border-bottom: none;
  z-index: 51;
  width: 100%;
}

.upper_align .left li {
  width: auto;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  float: left;
  background: url(/images/util_line.gif) no-repeat;
  background-position: right;
  text-align: center;
}

.upper_align .left li:last-child {
  background: none;
}

.upper_align .left li.on {
  background-color: #fff;
}

.upper_align .left>.on a {
  color: #243c84;
}

.upper_align .left li a {
  font-size: 13px;
  display: block;
  height: 30px;
  color: #fff;
}

.upper_align .right {
  position: relative;
  float: right;
  width: auto;
  border-bottom: none;
  z-index: 51;
  width: 100%;
  left: 150px;
}

.right li {
  width: auto;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  float: left;
  background: url(/images/util_line.gif) no-repeat;
  background-position: right;
  text-align: center;
  display: flex;
}

.right li:last-child {
  background: none;
}

.right li a {
  font-size: 13px;
  display: block;
  height: 30px;
  color: #fff;
}

.top_sns {
  display: flex;
  list-style: none;
  padding: 0 20px 0 0px;
  margin: 0;
}

.top_sns li {
  display: flex;
  margin: 0 5px 0 0;
}

.top_sns .blind {
  display: block;
  overflow: hidden;
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

.top_sns li a {
  width: 22px;
  height: 22px;
  display: block;
}

.top_sns li:nth-child(1) a {
  background: url(/images/top_sns01.png) no-repeat;
}

.top_sns li:nth-child(2) a {
  background: url(/images/top_sns02.png) no-repeat;
}

.top_sns li:nth-child(3) a {
  background: url(/images/top_sns03.png) no-repeat;
}

.top_sns li:nth-child(4) a {
  background: url(/images/top_sns04.png) no-repeat;
}

.top_search {
  position: relative;
  margin-right: 30px;
}

.top_search input {
  position: relative;
  width: 150px;
  height: 30px;
  border: none;
  padding-left: 10px;
  box-sizing: border-box;
  left: 0px;
  z-index: 99;
}

.top_search a {
  position: absolute;
  display: block;
  top: 0;
  right: 0px;
  width: 38px;
  height: 30px;
  background: url(/images/icon_search.gif) no-repeat center;
  cursor: pointer;
  z-index: 99;
}

/* logo */

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

/* gnb */

.nav {
  position: relative;
  width: 100%;
  height: 40px;
}

.gnb {
  position: absolute;
  top: 0;
  left: 300px;
  display: flex;

}

.gnb li a {
  height: auto;
  line-height: normal;
  border-top: none;
  border-bottom: none;
  padding: 0 40px;
  color: #202023;
  font-family: "Nunito Sans", sans-serif;
  position: relative;
}

.gnb>li:hover>a span {
  border-bottom: 4px solid #202023;
}

.gnb .sub {
  font-family: "Nunito Sans", sans-serif;
  position: absolute;
  top: 40px;
  z-index: 60;
}

.gnb .sub li {
  width: 170px;
  height: 30px;
  line-height: 30px;
  display: none;
}

.gnb .sub li a {
  border-top: none;
  border-bottom: none;
  font-size: 13px;
  color: #848484;
  padding: 0 0;
  margin-left: 40px;
}

.gnb .sub li a:hover {
  font-weight: bold;
}

.bg {
  position: absolute;
  height: 230px;
  background-color: #fff;
  top: 169px;
  left: 0;
  width: 100%;
  z-index: 59;
  border-bottom: 1px solid #ddd;
  display: none;
}

/* main swiper slide 1*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper .swiper-button-next {
  color: #fff;
}

.swiper .swiper-button-prev {
  color: #fff;
}


.swiper .swiper-pagination-bullet {
  background-color: #fff;
}

.swiper .swiper-pagination-bullet-active {
  background-color: #243C84;
}

/* swiper slide 2 */

.mainbeanist {
  padding: 60px 0 14px;
  background: url(/images/main_beanist_bg.gif) #fce1a6 no-repeat;
  background-position: center;
  background-size: cover;
}

.mainbeanist h2 {
  line-height: 1.1em;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 32px;
  font-weight: 100;
  color: #3c3c3c;
}

.mainbeanist h2 em {
  display: block;
  font-weight: 900;
  color: #90470c;
}

.swiper.mySwiper2 {
  width: 100%;
  height: 100%;
}

.mainbeanist .swiper-slide {
  display: flex;
}

.mainbeanist .swiper-slide ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 60px;
}

.mainbeanist .swiper-slide ul li a img {
  display: block;
  width: 100%;
  max-width: 153px;
  height: 280px;
  margin: auto;
  object-fit: cover;
}


.mainbeanist .swiper-slide ul li a {
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 700;
  color: #693a13;
  word-break: keep-all;
  font-family: "Noto Sans KR", sans-serif;
}

.mainbeanist .swiper-slide ul li a dl {
  padding: 0 10px;
  margin-top: 15px;
  height: 64px;
  text-align: center;
}

.mainbeanist .swiper-slide ul li a dt {
  line-height: 1.2em;
  font-size: 18x;
  font-weight: 700;
  color: #693a13;
  word-break: keep-all;
}

.mainbeanist .swiper-slide ul li a dt span.block {
  display: inline;
}

.mainbeanist .swiper-pagination-bullet {
  background-color: #fff;
}

.mainbeanist .swiper-pagination-bullet-active {
  background-color: #693a13;
}

/* DREAM FACTORY */
.dream_factory {
  width: 100%;
  height: 460px;
  background: url(/images/dream_factory_bg.gif) repeat-y;
  background-size: 100% auto;
  overflow: hidden;
  word-break: keep-all;
  position: relative;
}

.dream_factory .factory_title {
  max-width: 1180px;
  height: 372px;
  margin: 0 auto;
  padding: 0 4%;
}

.factory_title h2 {
  text-align: left;
  font-size: 30px;
  color: #FFF;
  font-weight: 900;
  font-family: 'Nunito Sans', sans-serif;
  padding-left: 5px;
}

.factory_title em {
  text-align: left;
  font-size: 110px;
  display: block;
  font-weight: 900;
  font-style: normal;
  -webkit-text-stroke: 0.3px #fff;
  color: transparent;
  padding-top: 60px;
}

.factory_title p {
  font-size: 17px;
  color: #FFF;
  font-family: 'NanumSquare', sans-serif;
  line-height: 1.4em;
  margin-top: 17px;
  text-align: left;
  padding-left: 5px;
}

.df_btn.main a {
  display: inline-block;
  width: 188px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border: solid 1px #fff;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  margin-top: 30px
}

.df_btn.main a:hover {
  background: #fff;
  color: #000;
  font-family: "Noto Sans KR", sans-serif;
}


.factory_img {
  position: absolute;
  top: 120px;
  right: -160px;
}

.factory_img img {
  width: 1060px;
  height: 348px;
  object-fit: cover;
}