header {
  height: 170px;
  border-bottom: 1px solid #ddd;
}

.upper_align {
  position: relative;
  height: 50px;
  background: #243c84;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Noto Sans KR", sans-serif;
}

.upper_align .left {
  position: relative;
  float: left;
  width: auto;
  border-bottom: none;
  z-index: 51;
  width: 100%;
}

.upper_align .left li {
  width: auto;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  float: left;
  background: url(/images/util_line.gif) no-repeat;
  background-position: right;
  text-align: center;
}

.upper_align .left li:last-child {
  background: none;
}

.upper_align .left li.on {
  background-color: #fff;
}

.upper_align .left > .on a {
  color: #243c84;
}

.upper_align .left li a {
  font-size: 13px;
  display: block;
  height: 30px;
  color: #fff;
}

.upper_align .right {
  position: relative;
  float: right;
  width: auto;
  border-bottom: none;
  z-index: 51;
  width: 100%;
  left: 150px;
}

.right li {
  width: auto;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  float: left;
  background: url(/images/util_line.gif) no-repeat;
  background-position: right;
  text-align: center;
  display: flex;
}

.right li:last-child {
  background: none;
}

.right li a {
  font-size: 13px;
  display: block;
  height: 30px;
  color: #fff;
}

.top_sns {
  display: flex;
  list-style: none;
  padding: 0 20px 0 0px;
  margin: 0;
}

.top_sns li {
  display: flex;
  margin: 0 5px 0 0;
}

.top_sns .blind {
  display: block;
  overflow: hidden;
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

.top_sns li a {
  width: 22px;
  height: 22px;
  display: block;
}

.top_sns li:nth-child(1) a {
  background: url(/images/top_sns01.png) no-repeat;
}

.top_sns li:nth-child(2) a {
  background: url(/images/top_sns02.png) no-repeat;
}

.top_sns li:nth-child(3) a {
  background: url(/images/top_sns03.png) no-repeat;
}

.top_sns li:nth-child(4) a {
  background: url(/images/top_sns04.png) no-repeat;
}

.top_search {
  position: relative;
  margin-right: 30px;
}

.top_search input {
  position: relative;
  width: 150px;
  height: 30px;
  border: none;
  padding-left: 10px;
  box-sizing: border-box;
  left: 0px;
  z-index: 99;
}

.top_search a {
  position: absolute;
  display: block;
  top: 0;
  right: 0px;
  width: 38px;
  height: 30px;
  background: url(/images/icon_search.gif) no-repeat center;
  cursor: pointer;
  z-index: 99;
}

/* logo */

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

/* gnb */

.nav {
  position: relative;
  width: 100%;
  height: 40px;
}

.gnb {
  position: absolute;
  top: 0;
  left: 300px;
  display: flex;
}

.gnb li a {
  height: auto;
  line-height: normal;
  border-top: none;
  border-bottom: none;
  padding: 0 40px;
  color: #202023;
  font-family: "Nunito Sans", sans-serif;
  position: relative;
}

.gnb > li:hover > a span {
  border-bottom: 4px solid #202023;
}

.gnb .sub {
  font-family: "Nunito Sans", sans-serif;
  position: absolute;
  top: 40px;
  z-index: 60;
}

.gnb .sub li {
  width: 170px;
  height: 30px;
  line-height: 30px;
  display: none;
}

.gnb .sub li a {
  border-top: none;
  border-bottom: none;
  font-size: 13px;
  color: #848484;
  padding: 0 0;
  margin-left: 40px;
}

.gnb .sub li a:hover {
  font-weight: bold;
}

.bg {
  position: absolute;
  height: 230px;
  background-color: #fff;
  top: 169px;
  left: 0;
  width: 100%;
  z-index: 59;
  border-bottom: 1px solid #ddd;
  display: none;
}

/* main swiper slide 1*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper .swiper-button-next {
  color: #fff;
}

.swiper .swiper-button-prev {
  color: #fff;
}

.swiper .swiper-pagination-bullet {
  background-color: #fff;
}

.swiper .swiper-pagination-bullet-active {
  background-color: #243c84;
}

/* swiper slide 2 */

.mainbeanist {
  padding: 60px 0 14px;
  background: url(/images/main_beanist_bg.gif) #fce1a6 no-repeat;
  background-position: center;
  background-size: cover;
}

.mainbeanist h2 {
  line-height: 1.1em;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 32px;
  font-weight: 100;
  color: #3c3c3c;
}

.mainbeanist h2 em {
  display: block;
  font-weight: 900;
  color: #90470c;
}

.swiper.mySwiper2 {
  width: 100%;
  height: 100%;
}

.mainbeanist .swiper-slide {
  display: flex;
}

.mainbeanist .swiper-slide ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 60px;
}

.mainbeanist .swiper-slide ul li a img {
  display: block;
  width: 100%;
  max-width: 153px;
  height: 280px;
  margin: auto;
  object-fit: cover;
}

.mainbeanist .swiper-slide ul li a {
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 700;
  color: #693a13;
  word-break: keep-all;
  font-family: "Noto Sans KR", sans-serif;
}

.mainbeanist .swiper-slide ul li a dl {
  padding: 0 10px;
  margin-top: 15px;
  height: 64px;
  text-align: center;
}

.mainbeanist .swiper-slide ul li a dt {
  line-height: 1.2em;
  font-size: 18x;
  font-weight: 700;
  color: #693a13;
  word-break: keep-all;
}

.mainbeanist .swiper-slide ul li a dt span.block {
  display: inline;
}

.mainbeanist .swiper-pagination-bullet {
  background-color: #fff;
}

.mainbeanist .swiper-pagination-bullet-active {
  background-color: #693a13;
}

/* DREAM FACTORY */
.dream_factory {
  width: 100%;
  height: 460px;
  background: url(/images/dream_factory_bg.gif) repeat-y;
  background-size: 100% auto;
  overflow: hidden;
  word-break: keep-all;
  position: relative;
}

.dream_factory .factory_title {
  max-width: 1180px;
  height: 372px;
  margin: 0 auto;
  padding: 0 4%;
}

.factory_title h2 {
  text-align: left;
  font-size: 30px;
  color: #fff;
  font-weight: 900;
  font-family: "Nunito Sans", sans-serif;
  padding-left: 5px;
}

.factory_title em {
  text-align: left;
  font-size: 110px;
  display: block;
  font-weight: 900;
  font-style: normal;
  -webkit-text-stroke: 0.3px #fff;
  color: transparent;
  padding-top: 60px;
}

.factory_title p {
  font-size: 17px;
  color: #fff;
  font-family: "NanumSquare", sans-serif;
  line-height: 1.4em;
  margin-top: 17px;
  text-align: left;
  padding-left: 5px;
}

.df_btn.main a {
  display: inline-block;
  width: 188px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border: solid 1px #fff;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  margin-top: 30px;
}

.df_btn.main a:hover {
  background: #fff;
  color: #000;
  font-family: "Noto Sans KR", sans-serif;
}

.factory_img {
  position: absolute;
  top: 120px;
  right: -160px;
}

.factory_img img {
  width: 1060px;
  height: 348px;
  object-fit: cover;
}

/* Always beside */

.always_beside {
  width: 100%;
  height: 460px;
}

.always_title {
  position: relative;
  width: 100%;
  height: 460px;
  background: url(/images/block02_bg.jpg) no-repeat;
  background-position: 30%;
  background-size: cover;
  padding-bottom: 280px;
  word-break: keep-all;
  text-align: center;
}

.always_title h2 {
  position: relative;
  text-align: center;
  font-size: 42px;
  color: #fff;
  font-weight: 100;
  font-family: "Nunito Sans", sans-serif;
  padding-top: 112px;
  line-height: 1.1em;
  z-index: 20;
}

.always_title h2::after {
  display: block;
  content: "";
  width: 100px;
  height: 1px;
  background: #fff;
  margin: 0 auto;
  margin-top: 51px;
}

.always_title h2 em {
  font-weight: 900;
  color: #fff;
  font-style: normal;
}

.always_title h3 {
  z-index: 20;
  text-align: center;
  font-size: 26px;
  font-weight: 100;
  color: #fff;
  font-family: "NanumSquare", sans-serif;
  margin-top: 53px;
  margin-bottom: 45px;
  line-height: 1.4em;
}

/* company */

.company_wrap {
  width: 100%;
  height: 460px;
  background: url(/images/company_bg.jpg) no-repeat center;
  background-size: cover;
  padding-bottom: 200px;
  position: relative;
}

.company_wrap .company_title {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 4%;
}

.company_align {
  float: right;
}

.company_align h2 {
  text-align: center;
  font-size: 44px;
  color: #fff;
  font-family: "NanumSquare", sans-serif;
  font-weight: 100;
  padding-top: 87px;
  line-height: 1.2em;
}

.company_align p {
  font-size: 17px;
  color: #fff;
  font-family: "NanumSquare", sans-serif;
  line-height: 1.4em;
  margin-top: 55px;
  text-align: left;
}

.company_wrap .df_btn.main {
  position: absolute;
  top: 300px;
  right: 330px;
}

/* bottom */

.main_bottom {
  width: 100%;
  margin: auto;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.main_bn {
  position: relative;
  width: 100%;
  padding: 34px 7% 40px 7%;
  box-sizing: border-box;
}

.main_bn.franchise {
  background: url(/images/main_franchise_bg.jpg) no-repeat left;
  background-size: cover;
  width: 330px;
  height: 330px;
}

.main_bn.franchise a {
  display: block;
  width: 100%;
  height: 100%;
}

.main_bn.franchise h2 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  font-family: "NanumSquare", sans-serif;
  line-height: 1.25em;
  position: absolute;
  top: 60px;
  left: 40px;
}

.main_bn.franchise h2::after {
  display: block;
  content: "";
  width: 42px;
  height: 1px;
  background: #fff;
  margin-top: 20px;
}

.main_bn.franchise p {
  position: absolute;
  top: 130px;
  left: 40px;
  color: #fff;
  font-family: "NanumSquare", sans-serif;
  line-height: 1.25em;
}

/* purchase */

.main_bn {
  position: relative;
  width: 100%;
  padding: 34px 7% 40px 7%;
  box-sizing: border-box;
}

.main_bn.store {
  background: url(/images/main_store_bg.jpg) no-repeat left;
  background-size: cover;
  width: 330px;
  height: 330px;
}

.main_bn.store a {
  display: block;
  width: 100%;
  height: 100%;
}

.main_bn.store h2 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  font-family: "NanumSquare", sans-serif;
  line-height: 1.25em;
  position: absolute;
  top: 60px;
  left: 40px;
}

.main_bn.store h2::after {
  display: block;
  content: "";
  width: 42px;
  height: 1px;
  background: #fff;
  margin-top: 20px;
}

.main_bn.store p {
  position: absolute;
  top: 130px;
  left: 40px;
  color: #fff;
  font-family: "NanumSquare", sans-serif;
  line-height: 1.25em;
}

.search_store input {
  position: absolute;
  top: 200px;
  left: 40px;
  width: 100%;
  max-width: 260px;
  height: 44px;
  border: solid 3px #ffffff;
  background: #1c3269;
  padding-left: 20px;
  font-size: 14px;
  color: #fff;
  box-sizing: border-box;
}

.search_store input::placeholder {
  color: #fff;
  font-weight: bold;
}

.search_store a img {
  position: absolute;
  top: 200px;
  right: 30px;
  width: 44px;
  height: 44px;
}

/* news */

.news_container {
  width: 480px;
  height: 330px;
  position: relative;
}

.main_news {
  list-style-type: none;
  padding: 0;
  height: 155px;
}

.main_news h2 {
  font-size: 20px;
  font-weight: 600;
  color: #202023;
  font-family: "NanumSquare", sans-serif;
}

.more_btn {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}

.main_news a {
  flex-grow: 1;
  text-decoration: none;
}

.news_container .main_news .date {
  white-space: nowrap;
  margin-left: 10px;
}

.main_news ul {
  list-style-type: none;
  padding: 0;
  margin-top: 21px;
}

.main_news ul li {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_news ul li a {
  font-size: 15px;
  font-weight: 600;
  color: #7d7d7e;
  font-family: "Noto Sans KR", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main_news ul li a:hover {
  color: #202023;
}

.main_news ul li span {
  font-size: 13px;
  font-weight: bold;
  color: #999;
}

.brochure {
  /* position: relative; */
  width: 100%;
  height: 135px;
  background: #cbc3b2;
  margin-top: 40px;
}

.brochure a {
  /* position: absolute; */
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.brochure h2 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  font-family: "NanumSquare", sans-serif;
  line-height: 1.1em;
  background: url(/images/main_brochure_arrow.png) no-repeat bottom left;
  padding: 36px 0 24px 0;
  margin-left: 7%;
}

/* footer */
.footer {
  position: relative;
  clear: both;
  width: 100%;
  background: #262626;
  text-align: center;
}

.f_top {
  border-bottom: solid 1px #464646;
  padding: 16px 0;
  font-family: "Noto Sans KR", sans-serif;
}

.f_top li {
  display: inline-block;
  margin: 3px 19px;
}

.f_top li a {
  color: #818181;
  font-size: 13px;
}

.f_top li a em {
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
}

.language_tab {
  position: absolute;
  display: block;
  width: 168px;
  margin: 20px auto;
  border: solid 1px #d9d9d9;
  background: #fff;
  top: 0;
  right: 0;
  margin-right: 320px;
  font-family: "Noto Sans KR", sans-serif;
}

.language_tab > a {
  display: block;
  height: 28px;
  line-height: 28px;
  background: url(/images/language_arrow.gif) no-repeat 135px 10px;
  padding-left: 20px;
  color: #848484;
  text-align: left;
  cursor: pointer;
}

.language_tab ul {
  position: absolute;
  width: 100%;
  top: 0;
  background: #fff;
  border: solid 1px #d9d9d9;
  /* margin: -1px 0px 0 -1px; */
  z-index: 51;
  display: none;
}

.language_tab ul li a {
  display: block;
  height: 28px;
  line-height: 28px;
  padding-left: 20px;
  color: #848484;
  text-align: left;
}

footer .language_tab ul li a:hover {
  color: #000;
}

.f_logo {
  margin: 30px;
}

.copy_info {
  width: 90%;
  max-width: 650px;
  margin: auto;
  margin-bottom: 14px;
  font-size: 12px;
  color: #6c6c6c;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.7em;
}

.copy_info span {
  display: inline-block;
  background: url(/images/footer_line.gif) no-repeat right;
  margin-right: 10px;
  padding-right: 10px;
}

.copy {
  padding-bottom: 35px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #6c6c6c;
}

.footer .f_ccm {
  position: absolute;
  text-align: right;
  top: 90px;
  right: 320px;
}

.mo_gnb {
  display: none;
}

.nav_btn {
  display: none;
}

/* mobile */

@media screen and (max-width: 768px) {
  /* header */
  header {
    height: 90px;
  }

  .upper_align {
    width: 360px;
    height: 30px;
  }

  .upper_align .left {
    height: 30px;
  }

  .upper_align .left li {
    width: 90px;
    height: 30px;
    padding: 0 0px;
    line-height: 30px;
    background-position: right 10px;
  }

  .upper_align .left li a {
    width: 90px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    display: block;
    height: 30px;
  }

  .upper_align .left li:last-child {
    background: none;
  }

  .upper_align .left > .on a {
    color: #243c84;
  }

  .upper_align .right {
    position: relative;
    float: right;
    width: auto;
    border-bottom: none;
    z-index: 51;
    width: 100%;
    left: 150px;
    display: none;
  }

  .right li {
    width: auto;
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    float: left;
    background: url(/images/util_line.gif) no-repeat;
    background-position: right;
    text-align: center;
    display: flex;
  }

  .right li:last-child {
    background: none;
  }

  .right li a {
    font-size: 13px;
    display: block;
    height: 30px;
    color: #fff;
  }

  .top_sns {
    display: flex;
    list-style: none;
    padding: 0 20px 0 0px;
    margin: 0;
    display: none;
  }

  .top_sns li {
    display: flex;
    margin: 0 5px 0 0;
  }

  .top_sns .blind {
    display: block;
    overflow: hidden;
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
  }

  .top_sns li a {
    width: 22px;
    height: 22px;
    display: block;
  }

  .top_sns li:nth-child(1) a {
    background: url(/images/top_sns01.png) no-repeat;
  }

  .top_sns li:nth-child(2) a {
    background: url(/images/top_sns02.png) no-repeat;
  }

  .top_sns li:nth-child(3) a {
    background: url(/images/top_sns03.png) no-repeat;
  }

  .top_sns li:nth-child(4) a {
    background: url(/images/top_sns04.png) no-repeat;
  }

  .top_search {
    position: relative;
    margin-right: 30px;
    display: none;
  }

  .top_search input {
    position: relative;
    width: 150px;
    height: 30px;
    border: none;
    padding-left: 10px;
    box-sizing: border-box;
    left: 0px;
    z-index: 99;
  }

  .top_search a {
    position: absolute;
    display: block;
    top: 0;
    right: 0px;
    width: 38px;
    height: 30px;
    background: url(/images/icon_search.gif) no-repeat center;
    cursor: pointer;
    z-index: 99;
  }

  /* logo */

  .logo {
    justify-content: left;
    padding: 20px;
    width: 182px;
    height: 60px;
  }

  .logo img {
    width: 182px;
    height: 18px;
  }

  /* gnb */

  .nav_btn {
    display: initial;
    float: right;
    z-index: 99;
  }

  .nav_btn a {
    position: absolute;
    top: 50px;
    right: 20px;
    display: block;
    width: 26px;
    height: 22px;
    background: url(/images/m_nav_btn.gif);
  }

  .nav_btn .blind {
    display: block;
    overflow: hidden;
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
  }

  .nav {
    position: relative;
    width: 100%;
    height: 40px;
    display: none;
  }

  .mo_gnb {
    display: initial;
  }

  .mo_gnb.on {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 50;
  }

  .mo_gnb .nav_close {
    position: absolute;
    right: 85%;
    margin: 17px 13px 0 0;
    z-index: 50;
  }

  .mo_gnb .mo_gnb_wrap {
    position: absolute;
    width: 85%;
    height: 100%;
    right: 0;
    background: #1d326c;
    overflow-y: auto;
    z-index: 50;
  }

  .mo_top_util {
    float: left;
    width: 100%;
    margin: 14px 0;
  }
  .mo_top_members {
    float: left;
    margin: 2px 20px 0 25px;
  }

  .mo_top_members li {
    float: left;
    margin-left: 12px;
    padding-left: 13px;
    background: url(/images/util_line_m.gif) no-repeat left;
  }

  .mo_top_members li a {
    font-size: 14px;
    color: #8e99b6;
  }

  .mo_top_members li:first-child {
    background-color: none;
    margin-left: 0;
    padding-left: 0;
  }

  .mo_top_sns {
    float: right;
    margin-right: 15px;
  }

  .mo_top_sns li {
    float: left;
    margin-left: 5px;
  }

  .mo_top_sns li a {
    display: block;
    width: 28px;
    height: 28px;
  }

  .mo_top_sns li:nth-child(1) a {
    background: url(/images/m_top_sns01.gif) no-repeat;
    background-size: cover;
  }
  .mo_top_sns li:nth-child(2) a {
    background: url(/images/m_top_sns02.gif) no-repeat;
    background-size: cover;
  }
  .mo_top_sns li:nth-child(3) a {
    background: url(/images/m_top_sns03.gif) no-repeat;
    background-size: cover;
  }
  .mo_top_sns li:nth-child(4) a {
    background: url(/images/m_top_sns04.gif) no-repeat;
    background-size: cover;
  }

  .mo_top_sns .blind {
    display: block;
    overflow: hidden;
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
  }

  .mo_main {
    float: left;
    width: 100%;
    border-top: 1px solid #192d65;
    border-bottom: 1px solid #2e437c;
  }

  .mo_main > li {
    background: url(/images/m_nav_arrow.gif) no-repeat right 20px;
  }

  .mo_main > li.on {
    background: url(/images/m_nav_arrow_on.gif) no-repeat right 20px;
  }

  .mo_main > li > a {
    display: block;
    height: 48px;
    line-height: 48px;
    border-top: 1px solid #2e437c;
    border-bottom: 1px solid #192d65;
    padding-left: 25px;
    font-family: "Nunito Sans", sans-serif;
    color: #fff;
    font-size: 16px;
  }

  .mo_main li .mo_sub {
    display: none;
  }

  .mo_sub > li {
    background: #2a4181;
  }

  .mo_sub > li > a {
    height: 48px;
    line-height: 48px;
    display: block;
    border-top: solid 1px #344a86;
    border-bottom: solid 1px #203570;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    color: #fff;
    padding-left: 25px;
    font-family: "Nunito Sans", sans-serif;
  }
}
