header {
  height: 170px;
  border-bottom: 1px solid #ddd;
}

.upper_align {
  position: relative;
  height: 50px;
  background: #243c84;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Noto Sans KR", sans-serif;
}

.upper_align .left {
  position: relative;
  float: left;
  width: auto;
  border-bottom: none;
  z-index: 51;
  width: 100%;
}

.upper_align .left li {
  width: auto;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  float: left;
  background: url(/images/util_line.gif) no-repeat;
  background-position: right;
  text-align: center;
}

.upper_align .left li:last-child {
  background: none;
}

.upper_align .left li.on {
  background-color: #fff;
}

.upper_align .left>.on a {
  color: #243c84;
}

.upper_align .left li a {
  font-size: 13px;
  display: block;
  height: 30px;
  color: #fff;
}

.upper_align .right {
  position: relative;
  float: right;
  width: auto;
  border-bottom: none;
  z-index: 51;
  width: 100%;
  left: 150px;
}

.right li {
  width: auto;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  float: left;
  background: url(/images/util_line.gif) no-repeat;
  background-position: right;
  text-align: center;
  display: flex;
}

.right li:last-child {
  background: none;
}

.right li a {
  font-size: 13px;
  display: block;
  height: 30px;
  color: #fff;
}

.top_sns {
  display: flex;
  list-style: none;
  padding: 0 20px 0 0px;
  margin: 0;
}

.top_sns li {
  display: flex;
  margin: 0 5px 0 0;
}

.top_sns .blind {
  display: block;
  overflow: hidden;
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

.top_sns li a {
  width: 22px;
  height: 22px;
  display: block;
}

.top_sns li:nth-child(1) a {
  background: url(/images/top_sns01.png) no-repeat;
}

.top_sns li:nth-child(2) a {
  background: url(/images/top_sns02.png) no-repeat;
}

.top_sns li:nth-child(3) a {
  background: url(/images/top_sns03.png) no-repeat;
}

.top_sns li:nth-child(4) a {
  background: url(/images/top_sns04.png) no-repeat;
}

.top_search {
  position: relative;
  margin-right: 30px;
}

.top_search input {
  position: relative;
  width: 150px;
  height: 30px;
  border: none;
  padding-left: 10px;
  box-sizing: border-box;
  left: 0px;
  z-index: 99;
}

.top_search a {
  position: absolute;
  display: block;
  top: 0;
  right: 0px;
  width: 38px;
  height: 30px;
  background: url(/images/icon_search.gif) no-repeat center;
  cursor: pointer;
  z-index: 99;
}

/* logo */

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

/* gnb */

.nav {
  position: relative;
  width: 100%;
  height: 40px;
}

.gnb {
  position: absolute;
  top: 0;
  left: 300px;
  display: flex;

}

.gnb li a {
  height: auto;
  line-height: normal;
  border-top: none;
  border-bottom: none;
  padding: 0 40px;
  color: #202023;
  font-family: "Nunito Sans", sans-serif;
  position: relative;
}

.gnb>li:hover>a span {
  border-bottom: 4px solid #202023;
}

.gnb .sub {
  font-family: "Nunito Sans", sans-serif;
  position: absolute;
  top: 40px;
  z-index: 60;
}

.gnb .sub li {
  width: 170px;
  height: 30px;
  line-height: 30px;
  display: none;
}

.gnb .sub li a {
  border-top: none;
  border-bottom: none;
  font-size: 13px;
  color: #848484;
  padding: 0 0;
  margin-left: 40px;
}

.gnb .sub li a:hover {
  font-weight: bold;
}

.bg {
  position: absolute;
  height: 230px;
  background-color: #fff;
  top: 169px;
  left: 0;
  width: 100%;
  z-index: 59;
  border-bottom: 1px solid #ddd;
  display: none;
}

/* swiper slide */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next {
  font: 18px;
  color: #fff;
}

.swiper-button-prev {
  font: 18px;
  color: #fff;
}